export CONTROL_PLANE_SERVER_USERNAME="root"
export CONTROL_PLANE_SERVER_IP="123.123.123.123"

export PROVISIONING_PATH_LOCAL_TO_REMOTE="~/k3s-cluster/provisioning"

export WORKERS="
ubuntu@11.11.111.11 vps=yandex-cloud
root@22.22.222.22 vps=ionos
root@33.33.33.33 vps=hetzner
"
