TG_TOKEN_SENAEV_COM_BOT=11111111111:your_telegram_bot_token

K3S_CLUSTER_PATH=/k3s-cluster

CONTROL_PLANE_SERVER_USERNAME=root
CONTROL_PLANE_SERVER_IP=123.123.123.123
CONTROL_PLANE_SERVER_PORT=6443

VPS_MEDIA_HOST=11.11.111.11
VPS_MEDIA_USERNAME=ubuntu
VPS_MEDIA_LABEL=media

VPS_RU_HOST=22.22.222.22
VPS_RU_USERNAME=root
VPS_RU_LABEL=ru
