export CONTROL_PLANE_SERVER_USERNAME="root"
export CONTROL_PLANE_SERVER_IP="123.123.123.123"

export PROVISIONING_PATH_LOCAL_TO_REMOTE="~/k3s-cluster/provisioning"

export WORKERS='[{"host":"11.11.111.11","username":"ubuntu","labels":"vps=yandex-cloud,label1=value1,label2=value2"},{"host":"22.22.222.22","username":"root","labels":"vps=ionos"},{"host":"33.33.33.33","username":"root","labels":"vps=hetzner"}]'
