# 🔐 https://t.me/c/1593601675/7

# https://console.hetzner.cloud/projects → Select project → Security → API tokens → Generate API token
HETZNER_TOKEN     = "your_hetzner_cloud_api_token"
# https://login.tailscale.com/admin/settings/keys → API access tokens → Generate access token…
TAILSCALE_API_KEY = "tskey_api_your_tailscale_api_key"
# https://t.me/BotFather → /newbot or /token
TG_TOKEN_SENAEV_COM_BOT = "111111111:your_telegram_bot_token"
